/* Curva orgánica roja del lado izquierdo */
.curva-roja-bata {
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
}

@media (min-width: 768px) {
  .curva-roja-bata {
    clip-path: ellipse(90% 100% at 0% 50%);
  }
}

/* Corte sutil del Dashboard */
.corte-rojo-dashboard {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 50px;
  background-color: #D61B28;
  transform: skewX(-25deg) translateX(2rem);
  z-index: 5;
}
