/* Marca de agua Isotipo 'B' de fondo sin entorpecer clics */
.marca-agua-b {
  position: absolute;
  bottom: -40px;
  left: -30px;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

/* Corte corporativo superior en Dashboard */
.corte-rojo-dashboard {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 50px;
  background-color: #D61B28;
  transform: skewX(-25deg) translateX(2rem);
  z-index: 5;
}
